

.history__container{
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.history__container--header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}

@media only screen and (min-width :454px) and (max-width:900px) {
    .card__container{
        flex-direction: column;
    }
}

@media only screen and (max-width : 453px) {
    .history__container--header{
        font-size: 20px;
    }
    .card__container{
        flex-direction: column;
    }
}