

.history__container{
    padding: 40px;
    display: flex;
    justify-content: center;
}

.history__container--header{
    font-size: 28px;
    font-weight: 500;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}